<!DOCTYPE html>
<html>
<head>
<% include ../partials/head.ejs %>
</head>

<body>

    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12">
            <h1>FriendFinder</h1>
            <p class="lead">Your One-Stop Friendship Shop</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-7">

          <p class="bs-component">
            <h2>To Get Started:</h2>
            <a href="/survey" class="btn btn-danger">Click Me!</a>
          </p>
        </div>
      </div>

    </div>

</body>

</html>
